<!DOCTYPE html>
<html>
<head>
<title>Start Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<h2>Cadastrar Bancos</h2>
	<form>
		<div>
			<label for="assunt">Descricao: </label> <input type="text"
				id="assunt" data-ng-model="banco.descricao"><br><br>

			<button type="button" class="btn btn-primary" data-ng-click="create(banco)">Salvar</button>
			<a href="#/tabela" class="btn btn-link">Listar</a>
			
			<br>
			<br>

		</div>
	</form>
</body>


</html>
