<!DOCTYPE html>
<html>
<head>
<title>Servicos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body >
	<h3>Disiciplina</h3>
	<form>
		<div >

			<label for="assunt">Descricao: </label> <input type="text" class="form-control"
				 id="assunt" data-ng-model="disciplina.descricao"><br>	<br>
			

			<button type="button" data-ng-click="create(descricao)"
				class="btn btn-primary">Salvar</button>
			<br>
			<br>
			<table class="table table-hover">
				<tr>
					<th>Descricao</th>
					<th>Accoes</th>

				</tr>
				<tr data-ng-repeat="disciplina in disciplinas">
					<td>{{disciplina.descricao}}</td>
					<td>
						<button type="button" data-ng-click="alterar(disciplina)"
							class="btn btn-default">Alterar</button>
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>


</html>
